[submodule "dot.zsh.d/antigen"]
	path = dot.zsh.d/antigen
	url = git@github.com:zsh-users/antigen.git
[submodule "solarized"]
	path = solarized
	url = git@github.com:altercation/solarized.git
[submodule "dot.tmux/plugins/tpm"]
	path = dot.tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "dot.vim/vim-plug"]
	path = dot.vim/vim-plug
	url = git@github.com:junegunn/vim-plug.git
