[submodule "dot.vim/bundle/neobundle.vim"]
	path = dot.vim/bundle/neobundle.vim
	url = github.com:Shougo/neobundle.vim.git
[submodule "dot.zsh.d/antigen"]
	path = dot.zsh.d/antigen
	url = github.com:zsh-users/antigen.git
[submodule "dot.powerline"]
	path = dot.powerline
	url = github.com:Lokaltog/powerline.git
