[user]
  name = kirikiriyamama
  email = kirikiriyamama@gmail.com
[core]
  quotepath = false
  excludesfile = ~/.gitignore
[color]
  ui = true
[alias]
  ad = add
  adp = add -p
  br = branch
  ci = commit
  cia = commit --amend
  co = checkout
  cob = checkout -b
  d = diff
  delete-merged-branches = !git branch --merged | grep -v -e '*' -e 'master' | xargs git branch -d 2>/dev/null
  ds = diff --staged
  dsw = diff --staged --color-words
  dw = diff --color-words
  f = fetch
  g = grep --ignore-case --line-number
  miku = !git stash 1> /dev/null && echo 'もうしょうがないにゃぁ、この変更はみくが覚えておくにゃ！'
  p = push --tags
  pforce = push --tags --force-with-lease
  pl = pull
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rs = reset
  s = show --decorate=short
  sm = submodule
  st = status -sb
[commit]
  verbose = true
  gpgsign = true
[fetch]
  prune = true
[hub]
  protocol = ssh
[pull]
	rebase = false
