[user]
  name = kirikiriyamama
  email = kirikiriyamama@gmail.com
[core]
  quotepath = false
  excludesfile = ~/.gitignore
[color]
  ui = true
[alias]
  p = push --tags
  pn = push --tags -n
  pl = pull
  f = fetch
  m = merge
  ma = merge --abort
  rb = rebase
  rbc = rebase --continue
  rba = rebase --abort
  ad = add
  adp = add -p
  ci = commit
  cia = commit --amend
  co = checkout
  cob = checkout -b
  undo = checkout --
  br = branch
  d = diff
  dw = diff --color-words
  ds = diff --staged
  dsw = diff --staged --color-words
  l = log --graph --date-order --date=short --all --pretty=format:\"%C(yellow)%h%Creset %C(blue)%ad%Creset [%an] %s%C(cyan)%d%Creset\"
  sm = submodule
  smu = submodule foreach 'git pull origin master'
  miku = !git stash 1> /dev/null && echo 'もうしょうがないにゃぁ、この変更はみくが覚えておくにゃ！'
  s = show --decorate=short
  st = status -sb
  g = grep --ignore-case --line-number --heading --break
  pick = cherry-pick
  rs = reset
  delete-merged-branches = !git branch --merged | grep -v -e '*' -e 'master' | xargs git branch -d 2>/dev/null
[commit]
  verbose = true
[fetch]
  prune = true
[hub]
  protocol = ssh
